{{> head}}
{{> navbar  }}
<div class="row">

    <div class="col-8">
        <h1> Juan Jose Giler</h1>
    </div>

    <div class="col-4">
        <img src="./assets/img/dbz.jpg" class="img-thumbnail">
    </div>


</div>

{{> footer}}